<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675.2543454170227 29.03554949708291"
    width="2025.7630362510681" height="87.10664849124873" class="divider-svg" >
    <!-- svg-source:excalidraw -->
  
    <defs>
      <style class="style-fonts">
  
      </style>
  
    </defs>
    <g stroke-linecap="round">
      <g transform="translate(11.685941191315635 18.671896285414732) rotate(0 325.1999816894531 -3.600006103515625)">
        <path
        class="divider-path"
          d="M1.14 0.36 C108.79 -0.55, 540.18 -3.69, 648.3 -4.91 M-1.69 -1.91 C106.62 -3.63, 545.32 -8.38, 653.57 -8.67"
           fill="none" ></path>
      </g>
    </g>
    <mask></mask>
  </svg>
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <!-- <p id="diplayselectedtheme"></p> -->
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>
