<div class="theme-wrapper">
  <div class="theme-selector" id="themeSelector">
    <div class="theme-options" id="themeOptions">
      <div
        id="pink-theme"
        class="theme-option pink-theme"
        data-theme-class="dark-pink"
        data-color="#f0b3e7"
      ></div>
      <div
        id="green-theme"
        class="theme-option"
        data-theme-class="dark-green"
        data-color="#b1d18a"
      ></div>
      <div
        id="yellow-theme"
        class="theme-option"
        data-theme-class="dark-yellow"
        data-color="#dbc66e"
      ></div>
      <div
        data-theme-class="dark-blue"
        id="blue-theme"
        class="theme-option"
        data-color="#aac7ff"
      ></div>
      <div
        data-theme-class="dark-cyan"
        id="cyan-theme"
        class="theme-option"
        data-color="#81d5cd"
      ></div>
    </div>
    <div class="current-theme" id="currentTheme"></div>
  </div>
  <button class="night-mode-button">mode</button>
</div>
