<div class="theme-picker">
  <input
    class="theme-input"
    type="radio"
    id="theme-1"
    name="theme"
    value="pink"
    checked
  />
  <label
    data-theme-class="dark-pink"
    id="picker"
    for="theme-1"
    class="pink-theme"
  >
    <div class="select-theme" id="pink-theme"></div>
  </label>
  <input
    class="theme-input"
    type="radio"
    id="theme-2"
    name="theme"
    value="green"
  />
  <label
    data-theme-class="dark-green"
    id="picker"
    for="theme-2"
    class="green-theme"
  >
    <div class="select-theme" id="green-theme"></div>
  </label>
  <input
    class="theme-input"
    type="radio"
    id="theme-3"
    name="theme"
    value="yellow"
  />
  <label
    data-theme-class="dark-yellow"
    id="picker"
    for="theme-3"
    class="yellow-theme"
  >
    <div class="select-theme" id="yellow-theme"></div>
  </label>
  <input
    class="theme-input"
    type="radio"
    id="theme-4"
    name="theme"
    value="blue"
  />
  <label
    data-theme-class="dark-blue"
    id="picker"
    for="theme-4"
    class="blue-theme"
  >
    <div class="select-theme" id="blue-theme"></div>
  </label>
  <input
    class="theme-input"
    type="radio"
    id="theme-5"
    name="theme"
    value="cyan"
  />
  <label
    data-theme-class="dark-cyan"
    id="picker"
    for="theme-5"
    class="cyan-theme"
  >
    <div class="select-theme" id="cyan-theme"></div>
  </label>
</div>
