/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

.dark-green {
  --md-sys-color-primary: rgb(177 209 138);
  --md-sys-color-surface-tint: rgb(177 209 138);
  --md-sys-color-on-primary: rgb(31 55 1);
  --md-sys-color-primary-container: rgb(53 78 22);
  --md-sys-color-on-primary-container: rgb(205 237 163);
  --md-sys-color-secondary: rgb(191 203 173);
  --md-sys-color-on-secondary: rgb(42 51 30);
  --md-sys-color-secondary-container: rgb(64 74 51);
  --md-sys-color-on-secondary-container: rgb(220 231 200);
  --md-sys-color-tertiary: rgb(160 208 203);
  --md-sys-color-on-tertiary: rgb(0 55 53);
  --md-sys-color-tertiary-container: rgb(31 78 75);
  --md-sys-color-on-tertiary-container: rgb(188 236 231);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(226 227 216);
  --md-sys-color-surface-variant: rgb(68 72 61);
  --md-sys-color-on-surface-variant: rgb(197 200 186);
  --md-sys-color-outline: rgb(143 146 133);
  --md-sys-color-outline-variant: rgb(68 72 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(47 49 42);
  --md-sys-color-inverse-primary: rgb(76 102 43);
  --md-sys-color-primary-fixed: rgb(205 237 163);
  --md-sys-color-on-primary-fixed: rgb(16 32 0);
  --md-sys-color-primary-fixed-dim: rgb(177 209 138);
  --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
  --md-sys-color-secondary-fixed: rgb(220 231 200);
  --md-sys-color-on-secondary-fixed: rgb(21 30 11);
  --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
  --md-sys-color-tertiary-fixed: rgb(188 236 231);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(12 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 26);
  --md-sys-color-surface-container-high: rgb(40 43 36);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}
.light-green {
  --md-sys-color-primary: rgb(76 102 43);
  --md-sys-color-surface-tint: rgb(76 102 43);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(205 237 163);
  --md-sys-color-on-primary-container: rgb(16 32 0);
  --md-sys-color-secondary: rgb(88 98 73);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(220 231 200);
  --md-sys-color-on-secondary-container: rgb(21 30 11);
  --md-sys-color-tertiary: rgb(56 102 99);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 236 231);
  --md-sys-color-on-tertiary-container: rgb(0 32 30);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(249 250 239);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(249 250 239);
  --md-sys-color-on-surface: rgb(26 28 22);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(68 72 61);
  --md-sys-color-outline: rgb(117 121 108);
  --md-sys-color-outline-variant: rgb(197 200 186);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(241 242 230);
  --md-sys-color-inverse-primary: rgb(177 209 138);
  --md-sys-color-primary-fixed: rgb(205 237 163);
  --md-sys-color-on-primary-fixed: rgb(16 32 0);
  --md-sys-color-primary-fixed-dim: rgb(177 209 138);
  --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
  --md-sys-color-secondary-fixed: rgb(220 231 200);
  --md-sys-color-on-secondary-fixed: rgb(21 30 11);
  --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
  --md-sys-color-tertiary-fixed: rgb(188 236 231);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
  --md-sys-color-surface-dim: rgb(218 219 208);
  --md-sys-color-surface-bright: rgb(249 250 239);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 244 233);
  --md-sys-color-surface-container: rgb(238 239 227);
  --md-sys-color-surface-container-high: rgb(232 233 222);
  --md-sys-color-surface-container-highest: rgb(226 227 216);
}
.dark-pink {
  --md-sys-color-primary: rgb(240 179 231);
  --md-sys-color-surface-tint: rgb(240 179 231);
  --md-sys-color-on-primary: rgb(75 31 74);
  --md-sys-color-primary-container: rgb(101 54 98);
  --md-sys-color-on-primary-container: rgb(255 215 247);
  --md-sys-color-secondary: rgb(218 191 211);
  --md-sys-color-on-secondary: rgb(61 43 58);
  --md-sys-color-secondary-container: rgb(84 65 81);
  --md-sys-color-on-secondary-container: rgb(247 218 239);
  --md-sys-color-tertiary: rgb(246 184 168);
  --md-sys-color-on-tertiary: rgb(76 38 27);
  --md-sys-color-tertiary-container: rgb(102 59 48);
  --md-sys-color-on-tertiary-container: rgb(255 219 209);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 18 22);
  --md-sys-color-on-background: rgb(235 223 230);
  --md-sys-color-surface: rgb(23 18 22);
  --md-sys-color-on-surface: rgb(235 223 230);
  --md-sys-color-surface-variant: rgb(78 68 75);
  --md-sys-color-on-surface-variant: rgb(209 195 203);
  --md-sys-color-outline: rgb(154 141 149);
  --md-sys-color-outline-variant: rgb(78 68 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 223 230);
  --md-sys-color-inverse-on-surface: rgb(53 46 51);
  --md-sys-color-inverse-primary: rgb(127 77 123);
  --md-sys-color-primary-fixed: rgb(255 215 247);
  --md-sys-color-on-primary-fixed: rgb(51 8 51);
  --md-sys-color-primary-fixed-dim: rgb(240 179 231);
  --md-sys-color-on-primary-fixed-variant: rgb(101 54 98);
  --md-sys-color-secondary-fixed: rgb(247 218 239);
  --md-sys-color-on-secondary-fixed: rgb(38 22 37);
  --md-sys-color-secondary-fixed-dim: rgb(218 191 211);
  --md-sys-color-on-secondary-fixed-variant: rgb(84 65 81);
  --md-sys-color-tertiary-fixed: rgb(255 219 209);
  --md-sys-color-on-tertiary-fixed: rgb(50 18 9);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(102 59 48);
  --md-sys-color-surface-dim: rgb(23 18 22);
  --md-sys-color-surface-bright: rgb(62 55 60);
  --md-sys-color-surface-container-lowest: rgb(18 13 17);
  --md-sys-color-surface-container-low: rgb(32 26 30);
  --md-sys-color-surface-container: rgb(36 30 34);
  --md-sys-color-surface-container-high: rgb(47 40 45);
  --md-sys-color-surface-container-highest: rgb(58 51 56);
}
.logo{
  height: 150px;
  padding-right: 10%;
}
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@font-face {
  font-family: Virgil;
  src: url("/assets/fonts/Virgil.woff2");
}
/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: var(--md-sys-color-primary);
  text-decoration: none;

  &:visited {
    // color: var(--md-sys-color-inverse-primary);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 3px;
  background-color: var(--md-sys-color-surface-container-high);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: var(--md-sys-color-on-surface);
  border-collapse: collapse;
  border: 1px solid var(--md-sys-color-outline);
  tr {
    &:nth-child(even) {
      background-color: var(--md-sys-color-surface-container-high);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: var(--md-sys-color-surface-container-highest);
    // border: 1px solid darken($grey-color-light, 4%);
    // border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid var(--md-sys-color-outline);
  }
}
.primary {
  background-color: var(--md-sys-color-primary);
}
.primary-text {
  color: var(--md-sys-color-primary);
}
.on-primary {
  background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
  color: var(--md-sys-color-on-primary);
}
.primary-container {
  background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
  color: var(--md-sys-color-primary-container);
}
.on-primary-container {
  background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--md-sys-color-on-primary-container);
}
.primary-fixed {
  background-color: var(--md-sys-color-primary-fixed);
}
.primary-fixed-text {
  color: var(--md-sys-color-primary-fixed);
}
.on-primary-fixed {
  background-color: var(--md-sys-color-on-primary-fixed);
}
.on-primary-fixed-text {
  color: var(--md-sys-color-on-primary-fixed);
}
.primary-fixed-dim {
  background-color: var(--md-sys-color-primary-fixed-dim);
}
.primary-fixed-dim-text {
  color: var(--md-sys-color-primary-fixed-dim);
}
.on-primary-fixed-variant {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}
.on-primary-fixed-variant-text {
  color: var(--md-sys-color-on-primary-fixed-variant);
}
.secondary {
  background-color: var(--md-sys-color-secondary);
}
.secondary-text {
  color: var(--md-sys-color-secondary);
}
.on-secondary {
  background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
  color: var(--md-sys-color-on-secondary);
}
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
  color: var(--md-sys-color-secondary-container);
}
.on-secondary-container {
  background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--md-sys-color-on-secondary-container);
}
.secondary-fixed {
  background-color: var(--md-sys-color-secondary-fixed);
}
.secondary-fixed-text {
  color: var(--md-sys-color-secondary-fixed);
}
.on-secondary-fixed {
  background-color: var(--md-sys-color-on-secondary-fixed);
}
.on-secondary-fixed-text {
  color: var(--md-sys-color-on-secondary-fixed);
}
.secondary-fixed-dim {
  background-color: var(--md-sys-color-secondary-fixed-dim);
}
.secondary-fixed-dim-text {
  color: var(--md-sys-color-secondary-fixed-dim);
}
.on-secondary-fixed-variant {
  background-color: var(--md-sys-color-on-secondary-fixed-variant);
}
.on-secondary-fixed-variant-text {
  color: var(--md-sys-color-on-secondary-fixed-variant);
}
.tertiary {
  background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
  color: var(--md-sys-color-tertiary);
}
.on-tertiary {
  background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--md-sys-color-on-tertiary);
}
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--md-sys-color-tertiary-container);
}
.on-tertiary-container {
  background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--md-sys-color-on-tertiary-container);
}
.tertiary-fixed {
  background-color: var(--md-sys-color-tertiary-fixed);
}
.tertiary-fixed-text {
  color: var(--md-sys-color-tertiary-fixed);
}
.on-tertiary-fixed {
  background-color: var(--md-sys-color-on-tertiary-fixed);
}
.on-tertiary-fixed-text {
  color: var(--md-sys-color-on-tertiary-fixed);
}
.tertiary-fixed-dim {
  background-color: var(--md-sys-color-tertiary-fixed-dim);
}
.tertiary-fixed-dim-text {
  color: var(--md-sys-color-tertiary-fixed-dim);
}
.on-tertiary-fixed-variant {
  background-color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.on-tertiary-fixed-variant-text {
  color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.error {
  background-color: var(--md-sys-color-error);
}
.error-text {
  color: var(--md-sys-color-error);
}
.on-error {
  background-color: var(--md-sys-color-on-error);
}
.on-error-text {
  color: var(--md-sys-color-on-error);
}
.error-container {
  background-color: var(--md-sys-color-error-container);
}
.error-container-text {
  color: var(--md-sys-color-error-container);
}
.on-error-container {
  background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
  color: var(--md-sys-color-on-error-container);
}
.outline {
  background-color: var(--md-sys-color-outline);
}
.outline-text {
  color: var(--md-sys-color-outline);
}
.background {
  background-color: var(--md-sys-color-background);
}
.background-text {
  color: var(--md-sys-color-background);
}
.on-background {
  background-color: var(--md-sys-color-on-background);
}
.on-background-text {
  color: var(--md-sys-color-on-background);
}
.surface {
  background-color: var(--md-sys-color-surface);
}
.surface-text {
  color: var(--md-sys-color-surface);
}
.on-surface {
  background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
  color: var(--md-sys-color-on-surface);
}
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
  color: var(--md-sys-color-surface-variant);
}
.on-surface-variant {
  background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--md-sys-color-on-surface-variant);
}
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--md-sys-color-inverse-surface);
}
.inverse-on-surface {
  background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--md-sys-color-inverse-on-surface);
}
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--md-sys-color-inverse-primary);
}
.shadow {
  background-color: var(--md-sys-color-shadow);
}
.shadow-text {
  color: var(--md-sys-color-shadow);
}
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}
.outline-variant {
  background-color: var(--md-sys-color-outline-variant);
}
.outline-variant-text {
  color: var(--md-sys-color-outline-variant);
}
.scrim {
  background-color: var(--md-sys-color-scrim);
}
.scrim-text {
  color: var(--md-sys-color-scrim);
}
.surface-container-highest {
  background-color: var(--md-sys-color-surface-container-highest);
}
.surface-container-highest-text {
  color: var(--md-sys-color-surface-container-highest);
}
.surface-container-high {
  background-color: var(--md-sys-color-surface-container-high);
}
.surface-container-high-text {
  color: var(--md-sys-color-surface-container-high);
}
.surface-container {
  background-color: var(--md-sys-color-surface-container);
}
.surface-container-text {
  color: var(--md-sys-color-surface-container);
}
.surface-container-low {
  background-color: var(--md-sys-color-surface-container-low);
}
.surface-container-low-text {
  color: var(--md-sys-color-surface-container-low);
}
.surface-container-lowest {
  background-color: var(--md-sys-color-surface-container-lowest);
}
.surface-container-lowest-text {
  color: var(--md-sys-color-surface-container-lowest);
}
.surface-bright {
  background-color: var(--md-sys-color-surface-bright);
}
.surface-bright-text {
  color: var(--md-sys-color-surface-bright);
}
.surface-dim {
  background-color: var(--md-sys-color-surface-dim);
}
.surface-dim-text {
  color: var(--md-sys-color-surface-dim);
}
