/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background-color: var(--md-sys-color-surface-container);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: var(--md-sys-color-primary);
  text-decoration: none;

  &:visited {
    // color: var(--md-sys-color-inverse-primary);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: var(--md-sys-color-primary);
  border-left: 3px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  margin-left: 12px;
  margin-right: 12px;
  @include relative-font-size(1.125);
  letter-spacing: -1px;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 3px;
  background-color: var(--md-sys-color-surface-container-high);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2) + 48px);
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2) + 48px);
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit + 100;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: ($spacing-unit / 2)+100;
  }
  @include media-query($on-palm) {
    padding-left: $spacing-unit/2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */

table {
  display: block;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
  margin-bottom: $spacing-unit;
  text-align: $table-text-align;
  color: var(--md-sys-color-on-surface);
  border-collapse: collapse;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  tr {
    &:nth-child(even) {
      background-color: var(--md-sys-color-surface-container-high);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: var(--md-sys-color-surface-container-highest);
    // border: 1px solid darken($grey-color-light, 4%);
    // border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border-top: 1px solid var(--md-sys-color-outline);
  }
}

.home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit + 100;
  @extend %clearfix;
  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: ($spacing-unit / 2)+100;
  }
  @include media-query($on-palm) {
    padding-left: $spacing-unit/2;
  }
}
h1 {
  font-family: "Comic Shanns", $base-font-family;
  // text-align: start;
}
@keyframes mainreveal {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
main {
  overflow: hidden;
  animation: mainreveal 0.25s;
}
