/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

:root {
  --md-source: #6750a4;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #21005d;
  --md-ref-palette-primary20: #381e72;
  --md-ref-palette-primary30: #4f378b;
  --md-ref-palette-primary40: #6750a4;
  --md-ref-palette-primary50: #7f67be;
  --md-ref-palette-primary60: #9a82db;
  --md-ref-palette-primary70: #b69df8;
  --md-ref-palette-primary80: #d0bcff;
  --md-ref-palette-primary90: #eaddff;
  --md-ref-palette-primary95: #f6edff;
  --md-ref-palette-primary99: #fffbfe;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #1d192b;
  --md-ref-palette-secondary20: #332d41;
  --md-ref-palette-secondary30: #4a4458;
  --md-ref-palette-secondary40: #625b71;
  --md-ref-palette-secondary50: #7a7289;
  --md-ref-palette-secondary60: #958da5;
  --md-ref-palette-secondary70: #b0a7c0;
  --md-ref-palette-secondary80: #ccc2dc;
  --md-ref-palette-secondary90: #e8def8;
  --md-ref-palette-secondary95: #f6edff;
  --md-ref-palette-secondary99: #fffbfe;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #31111d;
  --md-ref-palette-tertiary20: #492532;
  --md-ref-palette-tertiary30: #633b48;
  --md-ref-palette-tertiary40: #7d5260;
  --md-ref-palette-tertiary50: #986977;
  --md-ref-palette-tertiary60: #b58392;
  --md-ref-palette-tertiary70: #d29dac;
  --md-ref-palette-tertiary80: #efb8c8;
  --md-ref-palette-tertiary90: #ffd8e4;
  --md-ref-palette-tertiary95: #ffecf1;
  --md-ref-palette-tertiary99: #fffbfa;
  --md-ref-palette-tertiary100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410e0b;
  --md-ref-palette-error20: #601410;
  --md-ref-palette-error30: #8c1d18;
  --md-ref-palette-error40: #b3261e;
  --md-ref-palette-error50: #dc362e;
  --md-ref-palette-error60: #e46962;
  --md-ref-palette-error70: #ec928e;
  --md-ref-palette-error80: #f2b8b5;
  --md-ref-palette-error90: #f9dedc;
  --md-ref-palette-error95: #fceeee;
  --md-ref-palette-error99: #fffbf9;
  --md-ref-palette-error100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0f0d13;
  --md-ref-palette-neutral6: #141218;
  --md-ref-palette-neutral10: #1d1b20;
  --md-ref-palette-neutral12: #211f26;
  --md-ref-palette-neutral17: #2b2930;
  --md-ref-palette-neutral20: #322f35;
  --md-ref-palette-neutral22: #36343b;
  --md-ref-palette-neutral24: #3b383e;
  --md-ref-palette-neutral30: #48464c;
  --md-ref-palette-neutral40: #605d64;
  --md-ref-palette-neutral50: #79767d;
  --md-ref-palette-neutral60: #938f96;
  --md-ref-palette-neutral70: #aea9b1;
  --md-ref-palette-neutral80: #cac5cd;
  --md-ref-palette-neutral87: #ded8e1;
  --md-ref-palette-neutral90: #e6e0e9;
  --md-ref-palette-neutral92: #ece6f0;
  --md-ref-palette-neutral94: #f3edf7;
  --md-ref-palette-neutral95: #f5eff7;
  --md-ref-palette-neutral96: #f7f2fa;
  --md-ref-palette-neutral98: #fef7ff;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1d1a22;
  --md-ref-palette-neutral-variant20: #322f37;
  --md-ref-palette-neutral-variant30: #49454f;
  --md-ref-palette-neutral-variant40: #605d66;
  --md-ref-palette-neutral-variant50: #79747e;
  --md-ref-palette-neutral-variant60: #938f99;
  --md-ref-palette-neutral-variant70: #aea9b4;
  --md-ref-palette-neutral-variant80: #cac4d0;
  --md-ref-palette-neutral-variant90: #e7e0ec;
  --md-ref-palette-neutral-variant95: #f5eefa;
  --md-ref-palette-neutral-variant99: #fffbfe;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #6750a4;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #eaddff;
  --md-sys-color-on-primary-container-light: #21005d;
  --md-sys-color-primary-fixed-light: #eaddff;
  --md-sys-color-on-primary-fixed-light: #21005d;
  --md-sys-color-primary-fixed-dim-light: #d0bcff;
  --md-sys-color-on-primary-fixed-variant-light: #4f378b;
  --md-sys-color-secondary-light: #625b71;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e8def8;
  --md-sys-color-on-secondary-container-light: #1d192b;
  --md-sys-color-secondary-fixed-light: #e8def8;
  --md-sys-color-on-secondary-fixed-light: #1d192b;
  --md-sys-color-secondary-fixed-dim-light: #ccc2dc;
  --md-sys-color-on-secondary-fixed-variant-light: #4a4458;
  --md-sys-color-tertiary-light: #7d5260;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd8e4;
  --md-sys-color-on-tertiary-container-light: #31111d;
  --md-sys-color-tertiary-fixed-light: #ffd8e4;
  --md-sys-color-on-tertiary-fixed-light: #31111d;
  --md-sys-color-tertiary-fixed-dim-light: #efb8c8;
  --md-sys-color-on-tertiary-fixed-variant-light: #633b48;
  --md-sys-color-error-light: #b3261e;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #f9dedc;
  --md-sys-color-on-error-container-light: #410e0b;
  --md-sys-color-outline-light: #79747e;
  --md-sys-color-background-light: #fef7ff;
  --md-sys-color-on-background-light: #1d1b20;
  --md-sys-color-surface-light: #fef7ff;
  --md-sys-color-on-surface-light: #1d1b20;
  --md-sys-color-surface-variant-light: #e7e0ec;
  --md-sys-color-on-surface-variant-light: #49454f;
  --md-sys-color-inverse-surface-light: #322f35;
  --md-sys-color-inverse-on-surface-light: #f5eff7;
  --md-sys-color-inverse-primary-light: #d0bcff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #6750a4;
  --md-sys-color-outline-variant-light: #cac4d0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #e6e0e9;
  --md-sys-color-surface-container-high-light: #ece6f0;
  --md-sys-color-surface-container-light: #f3edf7;
  --md-sys-color-surface-container-low-light: #f7f2fa;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-bright-light: #fef7ff;
  --md-sys-color-surface-dim-light: #ded8e1;
  /* dark */
  --md-sys-color-primary-dark: #d0bcff;
  --md-sys-color-on-primary-dark: #381e72;
  --md-sys-color-primary-container-dark: #4f378b;
  --md-sys-color-on-primary-container-dark: #eaddff;
  --md-sys-color-primary-fixed-dark: #eaddff;
  --md-sys-color-on-primary-fixed-dark: #21005d;
  --md-sys-color-primary-fixed-dim-dark: #d0bcff;
  --md-sys-color-on-primary-fixed-variant-dark: #4f378b;
  --md-sys-color-secondary-dark: #ccc2dc;
  --md-sys-color-on-secondary-dark: #332d41;
  --md-sys-color-secondary-container-dark: #4a4458;
  --md-sys-color-on-secondary-container-dark: #e8def8;
  --md-sys-color-secondary-fixed-dark: #e8def8;
  --md-sys-color-on-secondary-fixed-dark: #1d192b;
  --md-sys-color-secondary-fixed-dim-dark: #ccc2dc;
  --md-sys-color-on-secondary-fixed-variant-dark: #4a4458;
  --md-sys-color-tertiary-dark: #efb8c8;
  --md-sys-color-on-tertiary-dark: #492532;
  --md-sys-color-tertiary-container-dark: #633b48;
  --md-sys-color-on-tertiary-container-dark: #ffd8e4;
  --md-sys-color-tertiary-fixed-dark: #ffd8e4;
  --md-sys-color-on-tertiary-fixed-dark: #31111d;
  --md-sys-color-tertiary-fixed-dim-dark: #efb8c8;
  --md-sys-color-on-tertiary-fixed-variant-dark: #633b48;
  --md-sys-color-error-dark: #f2b8b5;
  --md-sys-color-on-error-dark: #601410;
  --md-sys-color-error-container-dark: #8c1d18;
  --md-sys-color-on-error-container-dark: #f9dedc;
  --md-sys-color-outline-dark: #938f99;
  --md-sys-color-background-dark: #141218;
  --md-sys-color-on-background-dark: #e6e0e9;
  --md-sys-color-surface-dark: #141218;
  --md-sys-color-on-surface-dark: #e6e0e9;
  --md-sys-color-surface-variant-dark: #49454f;
  --md-sys-color-on-surface-variant-dark: #cac4d0;
  --md-sys-color-inverse-surface-dark: #e6e0e9;
  --md-sys-color-inverse-on-surface-dark: #322f35;
  --md-sys-color-inverse-primary-dark: #6750a4;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #d0bcff;
  --md-sys-color-outline-variant-dark: #49454f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #36343b;
  --md-sys-color-surface-container-high-dark: #2b2930;
  --md-sys-color-surface-container-dark: #211f26;
  --md-sys-color-surface-container-low-dark: #1d1b20;
  --md-sys-color-surface-container-lowest-dark: #0f0d13;
  --md-sys-color-surface-bright-dark: #3b383e;
  --md-sys-color-surface-dim-dark: #141218;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
.dark {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-dark
  );
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(
    --md-sys-color-on-primary-fixed-variant-dark
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-dark
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-dark
  );
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(
    --md-sys-color-on-secondary-fixed-dark
  );
  --md-sys-color-secondary-fixed-dim: var(
    --md-sys-color-secondary-fixed-dim-dark
  );
  --md-sys-color-on-secondary-fixed-variant: var(
    --md-sys-color-on-secondary-fixed-variant-dark
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-dark
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-dark
  );
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(
    --md-sys-color-tertiary-fixed-dim-dark
  );
  --md-sys-color-on-tertiary-fixed-variant: var(
    --md-sys-color-on-tertiary-fixed-variant-dark
  );
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-dark
  );
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-dark
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-dark
  );
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface-container-highest: var(
    --md-sys-color-surface-container-highest-dark
  );
  --md-sys-color-surface-container-high: var(
    --md-sys-color-surface-container-high-dark
  );
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(
    --md-sys-color-surface-container-low-dark
  );
  --md-sys-color-surface-container-lowest: var(
    --md-sys-color-surface-container-lowest-dark
  );
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: var(--md-sys-color-primary);
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
.primary {
  background-color: var(--md-sys-color-primary);
}
.primary-text {
  color: var(--md-sys-color-primary);
}
.on-primary {
  background-color: var(--md-sys-color-on-primary);
}
.on-primary-text {
  color: var(--md-sys-color-on-primary);
}
.primary-container {
  background-color: var(--md-sys-color-primary-container);
}
.primary-container-text {
  color: var(--md-sys-color-primary-container);
}
.on-primary-container {
  background-color: var(--md-sys-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--md-sys-color-on-primary-container);
}
.primary-fixed {
  background-color: var(--md-sys-color-primary-fixed);
}
.primary-fixed-text {
  color: var(--md-sys-color-primary-fixed);
}
.on-primary-fixed {
  background-color: var(--md-sys-color-on-primary-fixed);
}
.on-primary-fixed-text {
  color: var(--md-sys-color-on-primary-fixed);
}
.primary-fixed-dim {
  background-color: var(--md-sys-color-primary-fixed-dim);
}
.primary-fixed-dim-text {
  color: var(--md-sys-color-primary-fixed-dim);
}
.on-primary-fixed-variant {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}
.on-primary-fixed-variant-text {
  color: var(--md-sys-color-on-primary-fixed-variant);
}
.secondary {
  background-color: var(--md-sys-color-secondary);
}
.secondary-text {
  color: var(--md-sys-color-secondary);
}
.on-secondary {
  background-color: var(--md-sys-color-on-secondary);
}
.on-secondary-text {
  color: var(--md-sys-color-on-secondary);
}
.secondary-container {
  background-color: var(--md-sys-color-secondary-container);
}
.secondary-container-text {
  color: var(--md-sys-color-secondary-container);
}
.on-secondary-container {
  background-color: var(--md-sys-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--md-sys-color-on-secondary-container);
}
.secondary-fixed {
  background-color: var(--md-sys-color-secondary-fixed);
}
.secondary-fixed-text {
  color: var(--md-sys-color-secondary-fixed);
}
.on-secondary-fixed {
  background-color: var(--md-sys-color-on-secondary-fixed);
}
.on-secondary-fixed-text {
  color: var(--md-sys-color-on-secondary-fixed);
}
.secondary-fixed-dim {
  background-color: var(--md-sys-color-secondary-fixed-dim);
}
.secondary-fixed-dim-text {
  color: var(--md-sys-color-secondary-fixed-dim);
}
.on-secondary-fixed-variant {
  background-color: var(--md-sys-color-on-secondary-fixed-variant);
}
.on-secondary-fixed-variant-text {
  color: var(--md-sys-color-on-secondary-fixed-variant);
}
.tertiary {
  background-color: var(--md-sys-color-tertiary);
}
.tertiary-text {
  color: var(--md-sys-color-tertiary);
}
.on-tertiary {
  background-color: var(--md-sys-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--md-sys-color-on-tertiary);
}
.tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--md-sys-color-tertiary-container);
}
.on-tertiary-container {
  background-color: var(--md-sys-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--md-sys-color-on-tertiary-container);
}
.tertiary-fixed {
  background-color: var(--md-sys-color-tertiary-fixed);
}
.tertiary-fixed-text {
  color: var(--md-sys-color-tertiary-fixed);
}
.on-tertiary-fixed {
  background-color: var(--md-sys-color-on-tertiary-fixed);
}
.on-tertiary-fixed-text {
  color: var(--md-sys-color-on-tertiary-fixed);
}
.tertiary-fixed-dim {
  background-color: var(--md-sys-color-tertiary-fixed-dim);
}
.tertiary-fixed-dim-text {
  color: var(--md-sys-color-tertiary-fixed-dim);
}
.on-tertiary-fixed-variant {
  background-color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.on-tertiary-fixed-variant-text {
  color: var(--md-sys-color-on-tertiary-fixed-variant);
}
.error {
  background-color: var(--md-sys-color-error);
}
.error-text {
  color: var(--md-sys-color-error);
}
.on-error {
  background-color: var(--md-sys-color-on-error);
}
.on-error-text {
  color: var(--md-sys-color-on-error);
}
.error-container {
  background-color: var(--md-sys-color-error-container);
}
.error-container-text {
  color: var(--md-sys-color-error-container);
}
.on-error-container {
  background-color: var(--md-sys-color-on-error-container);
}
.on-error-container-text {
  color: var(--md-sys-color-on-error-container);
}
.outline {
  background-color: var(--md-sys-color-outline);
}
.outline-text {
  color: var(--md-sys-color-outline);
}
.background {
  background-color: var(--md-sys-color-background);
}
.background-text {
  color: var(--md-sys-color-background);
}
.on-background {
  background-color: var(--md-sys-color-on-background);
}
.on-background-text {
  color: var(--md-sys-color-on-background);
}
.surface {
  background-color: var(--md-sys-color-surface);
}
.surface-text {
  color: var(--md-sys-color-surface);
}
.on-surface {
  background-color: var(--md-sys-color-on-surface);
}
.on-surface-text {
  color: var(--md-sys-color-on-surface);
}
.surface-variant {
  background-color: var(--md-sys-color-surface-variant);
}
.surface-variant-text {
  color: var(--md-sys-color-surface-variant);
}
.on-surface-variant {
  background-color: var(--md-sys-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--md-sys-color-on-surface-variant);
}
.inverse-surface {
  background-color: var(--md-sys-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--md-sys-color-inverse-surface);
}
.inverse-on-surface {
  background-color: var(--md-sys-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--md-sys-color-inverse-on-surface);
}
.inverse-primary {
  background-color: var(--md-sys-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--md-sys-color-inverse-primary);
}
.shadow {
  background-color: var(--md-sys-color-shadow);
}
.shadow-text {
  color: var(--md-sys-color-shadow);
}
.surface-tint {
  background-color: var(--md-sys-color-surface-tint);
}
.surface-tint-text {
  color: var(--md-sys-color-surface-tint);
}
.outline-variant {
  background-color: var(--md-sys-color-outline-variant);
}
.outline-variant-text {
  color: var(--md-sys-color-outline-variant);
}
.scrim {
  background-color: var(--md-sys-color-scrim);
}
.scrim-text {
  color: var(--md-sys-color-scrim);
}
.surface-container-highest {
  background-color: var(--md-sys-color-surface-container-highest);
}
.surface-container-highest-text {
  color: var(--md-sys-color-surface-container-highest);
}
.surface-container-high {
  background-color: var(--md-sys-color-surface-container-high);
}
.surface-container-high-text {
  color: var(--md-sys-color-surface-container-high);
}
.surface-container {
  background-color: var(--md-sys-color-surface-container);
}
.surface-container-text {
  color: var(--md-sys-color-surface-container);
}
.surface-container-low {
  background-color: var(--md-sys-color-surface-container-low);
}
.surface-container-low-text {
  color: var(--md-sys-color-surface-container-low);
}
.surface-container-lowest {
  background-color: var(--md-sys-color-surface-container-lowest);
}
.surface-container-lowest-text {
  color: var(--md-sys-color-surface-container-lowest);
}
.surface-bright {
  background-color: var(--md-sys-color-surface-bright);
}
.surface-bright-text {
  color: var(--md-sys-color-surface-bright);
}
.surface-dim {
  background-color: var(--md-sys-color-surface-dim);
}
.surface-dim-text {
  color: var(--md-sys-color-surface-dim);
}
