@font-face {
  font-family: "Excalifont";
  src: url("/assets/theme-assets/theme-fonts/Excalifont-Regular.woff2");
}
@font-face {
  font-family: "Comic Shanns";
  src: url("/assets/theme-assets/theme-fonts/comic\ shanns.otf");
}
@font-face {
  font-family: "Lexend";
  src: url("/assets/theme-assets/theme-fonts/Lexend-Regular.ttf");
}
@font-face {
  font-family: "Gluten Light";
  src: url("/assets/theme-assets/theme-fonts/Gluten-Static/Gluten-Regular.ttf");
}
@font-face {
  font-family: "Architect";
  src: url("/assets/theme-assets/theme-fonts/ArchitectsDaughter-Regular.ttf");
}
