.theme-picker {
  display: flex;
  // width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  margin-top: 4px;
  justify-content: flex-end;
}
.all-post-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-card {
  // border: 1px solid var(--md-sys-color-outline);
  //   overflow: visible;
  position: relative;
  //   padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 12px;
  background-color: var(--md-sys-color-surface-container);
  & p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.pinned-post-card {
  // border: 1px solid var(--md-sys-color-outline);
  //   overflow: visible;
  position: relative;
  //   padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 12px;
  width: 30%;
  background-color: var(--md-sys-color-surface-container);
  background-color: var(--md-sys-color-primary-container);
  & p,
  span,
  a {
    color: var(--md-sys-color-on-primary-container);
  }

  & img {
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 24px;
  }
  @media screen and (max-width: 1300px) {
    width: 46%;
  }
  @media screen and (max-width: 850px) {
    width: 100%;
    & p {
      display: -webkit-box;
      line-clamp: 5;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

// .post-card::before {
//   content: "";
//   position: absolute;
//   top: -10px;
//   left: -12px;
//   right: -10px;
//   bottom: -10px;
//   // width: calc(100% + 12px);
//   // height: calc(100% + 12px);
//   z-index: 10;
//   background-image: url("/assets/theme-assets/theme-images/border-thick.svg");
//   background-size: 100% 100%;
//   filter: var(--outline-filter);
//   pointer-events: none; /* Allows interaction with content inside the border */
// }
.pinned-post-list {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 12px;
  margin-left: 0;
  list-style: none;
  background-color: var(--md-sys-color-surface-container);
  border-radius: 24px;
  padding: $spacing-unit;
  min-height: 390px;
  @media screen and (max-width: 850px) {
    // background-color: var(--md-sys-color-secondary-container);
    padding: $spacing-unit/2;
    min-height: 200px;
  }

  > li:not(:last-child) {
    margin-bottom: $spacing-unit;
  }
}
.pinned-post-card::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -12px;
  right: -10px;
  bottom: -10px;
  // width: calc(100% + 12px);
  // height: calc(100% + 12px);
  z-index: 10;
  background-image: url("/assets/theme-assets/theme-images/border-thick.svg");
  background-size: 100% 100%;
  filter: var(--outline-filter);
  pointer-events: none; /* Allows interaction with content inside the border */
}
.navrail {
  font-family: "Comic Shanns", $base-font-family;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  z-index: 99;
  padding: 80px 0 30px 12px;
  width: 100px;
  background-color: var(--md-sys-color-surface);

  @include media-query($on-palm) {
    flex-direction: row;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    background-color: var(--md-sys-color-surface-container-highest);
    padding: 0px;
    box-shadow: 0px -4px 16px 0px var(--md-sys-color-shadow);
    .navrail-icon {
      max-height: 34px;
      max-width: max-content;
      object-fit: cover;
    }
    .navrail-button {
      padding: 8px 0 8px 0;
    }
  }
}
.navrail-button {
  padding: 12px 0 12px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--md-sys-color-on-surface);
}
.navrail-icon {
  // filter: var(--outline-filter);
  max-width: 40px;
}

.theme-selector {
  position: relative;
  display: flex;
  //   width: 100%;
  justify-content: flex-end;
  padding: 12px;
  padding-top: 18px;
}

.current-theme {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: var(--current-color); /* Initial theme color */
  margin-left: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-options {
  //   position: absolute;
  display: flex;
  //   top: 50%;
  //   right: 20px;
  //   transform: translate(-50%, -50%);
  //   display: none;
  //   flex-wrap: wrap;
  gap: 10px;
  max-width: 0px;
  transition: all 0.3s;
}

.theme-option {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}
.home {
  padding-right: $spacing-unit;
  padding-left: $spacing-unit + 100;
  @extend %clearfix;
  @include media-query($on-laptop) {
    padding-right: $spacing-unit / 2;
    padding-left: ($spacing-unit / 2)+100;
  }
  @include media-query($on-palm) {
    padding-left: $spacing-unit/2;
  }
}
.pin-svg {
  position: absolute;
  height: 80px;
  width: auto;
  top: -34px;
  right: 15px;
  z-index: 11;

  // filter: var(--outline-filter);
}
.pin-path {
  stroke: var(--md-sys-color-tertiary);
  stroke-width: 2.5;
}
h1 {
  font-family: "Comic Shanns", $base-font-family;
}
.tagline {
  font-family: "Comic Shanns", $base-font-family;
  text-align: center;
}
